networks:
  dev:

services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
    depends_on:
      - core
      - ui
    networks:
      - dev

  core:
    build:
      context: ./core
    networks:
      - dev

  ui:
    build:
      context: ./ui
    networks:
      - dev
